.popup__error {
    opacity:0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color:red;
    margin-top: -25px;
    margin-bottom: 13px;
    height: 12px;
  }