@import url(./__template/grid__template.css);
@import url(./__item/grid__item.css);
@import url(./__delete-btn/grid__delete-btn.css);
@import url(./__delete-btn/_hidden/grid__delete-btn_hidden.css);
@import url(./__image/grid__image.css);
@import url(./__text-container/grid__text-container.css);
@import url(./__text/grid__text.css);
@import url(./__like-container/grid__like-container.css);
@import url(./__like-btn/grid__like-btn.css);
@import url(./__like-btn/_active/grid__like-btn_active.css);



.grid {
  max-width: 882px;
  padding-top: 50px;
  padding-bottom: 66px;
}

@media screen and (max-width: 999px) {
  .grid {
    max-width: 100%;
    padding-top: 36px;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 523px) {
  .grid {
    max-width: 100%;
    padding-top: 36px;
    padding-bottom: 48px;
  }
}
