.header__login {
   color: white;
   text-decoration: none;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 22px;
   text-align: right;
  }

  .header__login:hover {
     cursor: pointer;
  };